{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-2" > Authors</h1>
<table class="w-full border-collapse mt-4" >
    <tr class="bg-gray-200" >
        <th class="p-2 border" > Name</th>
        <th class="p-2 border" > Email</th>
        <th class="p-2 border">Bio</th>
        <th class="p-2 border" > Action</th>
    </tr>
    {% for author in authors %}
    <tr class="bg-white" >
        <td class="p-2 border" >{{ author.name }}</td>
        <td class="p-2 border" >{{ author.email }}</td>
        <td class="p-2 border" >{{ author.bio }}</td>
        <td class="p-2 border" >
            <a href="{% url 'author_edit' author.id %}" class="text-blue-500" >Edit</a>
            <a href="{% url 'author_delete' author.id %}" class="text-red-500" >Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" class="p-2 border" >No authors available.</td>
    {% endfor %}
</table>
<a href="{% url 'author_add' %}" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded delete-btn">Add Author</a>

{% endblock %}