{% extends 'base.html' %}

{% block title %}Add Publisher{% endblock %}

{% block content %}
<div class="mt-4"></div>
    <a href="{% url 'publisher_list' %}" class="text-blue-500">Back to Publisher List</a>
</div>
<h2 class="text-2xl font-bold mb-4 text-center">Add Publisher</h2>
<div class="max-w-md mx-auto bg-gray-100 p-6 rounded shadow-md">
    <form method="post" action="{% url 'publisher_add' %}">
        {% csrf_token %}
        <div class="space-y-4">
            {{ form.as_p }}
        </div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded mt-2">Add Publisher</button>
        
    </form>
</div>
{% endblock %}